.add-product{
    height: 100%;
    width: 100vh;
    background-color: #c6c6c6;
    justify-content: center;
    align-content: center;
}

.form-product{
    padding: 30px;
    /* width: 40%; */
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 1px solid gray;
    align-items: flex-start;
}

.imp{
    text-indent: 20px;
    width: 100%;
    border-radius: 10px;
    height: 40px;
    border-color: 1px solid gray;
}

.btn{
    padding: 12px 12px;
    background-color: #384038;
    color: white;
}